
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.logo{
    color: #4E47FF;
    font-size: 34px;
}
.btn{
   background-color: #4E47FF; 
   color:#FFFFFF;
   font-size: 16px;
   font-weight: bold;
   border: none;
   padding: 12px 36px;
   border-radius: 5px;
   
}
.btn:hover{
    background-color: darkgoldenrod;
    cursor: pointer;

}
.first-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin :0px 150px;
    /* background-color: #FFFFFF; */
}
.header{
    background-image: url(Assets/Hero-bg.png);
    margin-top: 0px;

}
.h2{
    font-size: 65px;
    font-weight: bold;
}
.sec-2{
    text-align: center;
    padding:152px 267px ;
}
.main-action{
    display: flex;
    justify-content: center;
    margin: 93px 150px;
}
.action-head{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.action-description{
    font-size: 24px;
    font-weight: 200;
    color: #252432;
}
.action{
margin-right: 220px;
}
.action-image{
    border-radius: 48px;
    width: 403px;
    height: 328px;
    /* margin-left: 150px; */
}
.productive{
    display: flex;
    justify-content: center;
    
}
.title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}
.productive-main{
    background-color:#cfcedd ;
    text-align: center;
    padding:50px 142px ;
    margin:116px 160px ;
    border-radius: 24px;
    margin-bottom: 0px;

   
}
.sub-user{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    justify-content: center;
    margin-right: 158px;
    /* margin-bottom: 0px; */
}
.descrip{
    font-size: 20px;
    font-weight:200;
    margin-right: 188px;
    margin-top: 10px;
    
}
h2{
    margin-top: 20px;
    margin-bottom: 10px;
}
.linking{
    display: flex;
   justify-content: center;
    list-style: none;
    
}
div ul li{
    margin-right:48px ;

}
ul li a{
    text-decoration: none;
    color:#8987A1 ;
}
.descript-logo{
    color: #8987A1;
    text-align: center;

}
.links{
    /* justify-content: center; */
}
.title-logo{
    color:#4E47FF ;
    font-size: 100px;
    text-align: center;

}
.end-part{
    padding: 103px 445px;
    background-color: white;
    align-items: center;
   
}
h1{
    margin-bottom: 8px;

}
.touch{
    display: flex;
}
.headline{
    font-size: 90px;
    font-weight: bold;
    margin-top: 120px;
}
.touch{
    padding:50px 150px ;
    margin: 30px 150px;
    justify-content: center;
}

.box input[type="email"],input[type="text"],textarea{

    background-color:white;
    border-radius:10px ;
    padding: 32px 20px;
    display: block;
    width: 100%;
    margin-bottom: 19px;
    border: none;
    font-size: 15px;
    color: #000000;
    margin-right: 150px;
    margin-top: 9px;
}
.box{

    justify-content: right;
}
h1{
    margin-right: 115px;
}
body{
    background-color: rgb(239, 239, 237);
}
.btn-2{
    width: 100%;
    margin-right: 150px;
}
.para{
    color: #B3B3B3;
    /* height: 22px;
    width: 267px; */
}
.sub-title1{
    color: #757575;
      /* height: 22px;
    width: 267px; */
    margin-bottom: 0px;
}
.name{
    display: inline-block;
    gap: none;
    font-size: 10px;
}
.photo{
    border-radius: 30px;
}
 .feed-sub-title{
    color: #1E1E1E;
    height: 44px;
    width: 318px;
    font-weight: 500;
 }
 .feed-title{
color: #1E1E1E;
font-weight: bold;

 }
 .feed-sec{
    background-color:#FFFFFF ;
    padding: 24px;
    border-radius: 14px;
    /* margin:137px 150px; */
    height: 200px;
    width: 360px;
    
 }
 .main-feed{
    display: flex;
    gap: 24px;
    justify-content: center;
   
    
 }
 .feedback-title{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
 }
 h2{
    margin-bottom:50px ;
 }
 .feedback{
    padding:130px 150px ;
    /* margin-right: 150px;  */
    /* width: 1140px;
    height: 342px; */
    justify-content: right;
 }